# ignore all project cache and migration files
__pycache__/
*.py[cod]

#  
.project
.pydevproject
.settings
.coverage
coverage.xml
*.swp
.DS_Store
*_initial.py
log
logs
apache
tmp
migrations
inspectdb
*.py~
local.py
secrets.yaml
