Django==2.2.13
djangorestframework==3.9.1
coreapi==2.3.3
markdown==2.6.11
django-filter==2.0.0.dev1
django-crispy-forms==1.7.0
django-rest-swagger==2.1.2
mysqlclient
numpy==1.19.0
biopython==1.70
bcbio-gff==0.6.4
wget
pyfaidx
mysql-connector-python
coveralls
