{% load add_class %}
{% load compare_features %}

<!-- CS  Location Expander -->
<div id="has_cds_location_changed" class="tab-pane fade in active" style="padding:10px;">

    {% if diff_result.results.has_cds_location_changed %}
        <div class="well well-sm well-diff-red"><strong>CDS Location Compare</strong></div>
    {% else %}
        <div class="well well-sm well-diff-green"><strong>CDS Location Compare</strong></div>
    {% endif %}

    <div class="row">

        <!--Translation1 -->
        <div class="col-md-5 col-sm-5">
            {% with diff_result.diff_me_transcript as diff_me_tr %}
                {% with diff_me_tr.translations as diff_me_tr_translation %}
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info"><strong>Diff Me</strong></li>
                        <li class="list-group-item">Region <span
                                class="label label-primary label-diff">{{ diff_me_tr_translation.loc_region }}</span>
                        </li>
                        <li class="list-group-item">Start <span
                                class="label label-primary label-diff">{{ diff_me_tr_translation.loc_start }}</span>
                        </li>
                        <li class="list-group-item">Stop <span
                                class="label label-primary label-diff">{{ diff_me_tr_translation.loc_end }}</span></li>
                        <li class="list-group-item">Strand <span
                                class="label label-primary label-diff">{{ diff_me_tr_translation.loc_strand }}</span>
                        </li>


                        <li class="list-group-item list-group-item-info"><strong>Checksums</strong></li>
                        <li class="list-group-item">Loc Checksum <span
                                class="label label-primary label-diff">{{ diff_me_tr_translation.loc_checksum }}</span>
                        </li>
                    </ul>
                {% endwith %}
            {% endwith %}
        </div>
        <!--Translation1 End-->


        <!-- Match -->
        <div class="col-md-2 col-sm-2">

            {% with diff_result|compare_translation:"loc_region, loc_start, loc_end, loc_strand" as match_results %}
                {% for has_matches in match_results %}
                    <ul class="list-group">
                    <li class="list-group-item text-center">Match</li>
                    {% for has_match in has_matches %}
                        {% include "checksum_match.html" with has_var_checksum=has_match %}
                    {% endfor %}
                {% endfor %}
            {% endwith %}

            <li class="list-group-item text-center">Checksums</li>

            {% with diff_result|compare_translation:"loc_checksum" as match_results %}
                {% for has_matches in match_results %}
                    {% for has_match in has_matches %}
                        {% include "checksum_match.html" with has_var_checksum=has_match %}
                    {% endfor %}
                    </ul>
                {% endfor %}
            {% endwith %}

        </div>
        <!-- Match -->


        <!--Translation2 -->
        <div class="col-md-5 col-sm-5">
            {% with diff_result.diff_with_transcript as diff_with_tr %}
                {% with diff_with_tr.translations as diff_with_tr_translation %}
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-warning"><strong>Diff With</strong></li>

                        <li class="list-group-item">Region <span
                                class="label label-primary label-diff">{{ diff_with_tr_translation.loc_region }}</span>
                        </li>
                        <li class="list-group-item">Start <span
                                class="label label-primary label-diff">{{ diff_with_tr_translation.loc_start }}</span>
                        </li>
                        <li class="list-group-item">Stop <span
                                class="label label-primary label-diff">{{ diff_with_tr_translation.loc_end }}</span>
                        </li>
                        <li class="list-group-item">Strand <span
                                class="label label-primary label-diff">{{ diff_with_tr_translation.loc_strand }}</span>
                        </li>

                        <li class="list-group-item list-group-item-warning"><strong>Checksums</strong></li>
                        <li class="list-group-item">Loc Checksum <span
                                class="label label-primary label-diff">{{ diff_with_tr_translation.loc_checksum }}</span>
                        </li>
                    </ul>
                {% endwith %}
            {% endwith %}
        </div>
        <!--Translation2 End-->


    </div>

</div>