{% extends "web_home.html" %}

{% block title %}DataTable{% endblock %}

{% load staticfiles %}
{% load add_class %}

{% block extra_styles %}
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">


function create_current_release_table(id_data_table, table_name_, assembly_name_, release_name_){
    console.log(id_data_table + "  " + table_name_ + "  " + assembly_name_ + "  " + release_name_);
 //datatable
    var tark_table = $('#'+id_data_table).DataTable( {

        "initComplete": function(settings, json) {
         $('#loadingSpinner').hide();
         $('#loadingSpinner_compare_with').hide();
         $('#compare_with_div').show();
         

        },
        "serverSide": {{server_side_processing}},
        {% if server_side_processing == 'true' %}
        "ajax": "/web/datatable_serverside/" + table_name_ + "/" + assembly_name_ + "/" + release_name_ + "/",
        {% else %}
         "ajax": "/web/datatable_clientside/" + table_name_ + "/" + assembly_name_ + "/" + release_name_ + "/",
        {% endif %}
        
       "data":{'serverSide':{{ server_side_processing }} },
        aoColumns: [
            {% for fields in data_fields %}
  			{ "mData": "{{ fields }}", sDefaultContent: "" },
  	        {% endfor %}
		],
    } );
    
    return tark_table;
 
}//end function


    $(document).ready(function() {

     var tark_table = create_current_release_table("tark_datatable","{{table_name}}", "{{assembly_name}}", "{{release_name}}" );
     var tark_table_compare = create_current_release_table("tark_datatable_compare_with","{{table_name}}", "{{assembly_name_compare}}", "{{release_name_compare}}" );

       //diff with assembly
     //var assembly_releases = {{ all_assembly_releases|safe|escape }};
    // var options_empty = '<option value="' + '' + '">' + '' + '</option>'
     //var options = $.map(Object.keys(assembly_releases), function(assembly){
     //       return '<option value="' + assembly + '">' + assembly + '</option>'
    //    }).join('');
    // options = options_empty + options;
     //$("#id_diff_with_assembly").html(options);


     $("#id_diff_with_assembly").change(function () {
       var assembly_releases = {{ all_assembly_releases|safe|escape }};
       var cur_assembly_name = $(this).val(); 

        var releases = assembly_releases[cur_assembly_name] || [];
        var options = $.map(releases, function(release){
            return '<option value="' + release + '">' + release + '</option>'
        }).join('');
        $("#id_diff_with_release").html(options);
    });
    
     $("#compare_transcript_set").click(function (e) {
     var compare_assembly = $("#id_diff_with_assembly").val();
     var compare_release = $("#id_diff_with_release").val();
     console.log(" compare_assembly " + compare_assembly + " compare_release " + compare_release);
     var compare_with_well_text='<strong> Compare Assembly: '+ compare_assembly +'  Compare Release: '+ compare_release +'. To filter type: ENST00000302118 in search box. To compare the current release set with other release set, please choose the release version from below</strong>';
   
     tark_table_compare.destroy();
     $('#loadingSpinner_compare_with').show();
     tark_table_compare = create_current_release_table("tark_datatable_compare_with","{{table_name}}",compare_assembly, compare_release);
      e.preventDefault(e);
     $('#compare_with_well').html(compare_with_well_text);
      
      
     });
    
    
   
  });
  </script>
{% endblock %}



{% block content %}
   <div class="container-fluid" style="padding-left:50px;padding-right:50px;">
   <div class="row">
    <div id="loadingSpinner"><strong>Loading, please wait... </strong><img id="loading-img" src="{% static '/images/ajax-loader.gif' %}"><p></p></div>
    <div class="well well-sm" style="color: #31708f;background-color: #d9edf7;border-color: #bce8f1;"><strong>Current Assembly: "{{ assembly_name }}"  Current Release: "{{ release_name }}". To filter type: ENST00000302118 in search box </strong> </div>
    <table id="tark_datatable" class="table table-striped table-bordered compact" cellspacing="0" width="95%">
      <thead>
            <tr>
             {% for fields in data_fields %}
                <th>{{ fields }}</th>
             {% endfor %}
            </tr>
      </thead>
     
    </table>
    </div>
    
    <div class="row" id="compare_with_div" style="display: none;">
    <div id="compare_with_well" class="well well-sm" style="color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;">
    <strong> Compare Assembly: "{{ assembly_name_compare }}"  Compare Release: "{{ release_name_compare }}". To filter type: ENST00000302118 in search box. To compare the current release set with other release set, please choose the release version from below</strong>
    </div>

    
    <div class="well">
    
    <form id="compare_form" class="form-horizontal" method="POST" action="">
    {% csrf_token %}
  	<div class="form-group">
   	<label class="control-label col-sm-2" for="assembly">Assembly/Release:</label>
   	<div class="col-sm-1">
    {{ form.diff_with_assembly|add_class:"form-control"}}
  	</div>
 
   	<div class="col-sm-1">
      {{ form.diff_with_release|add_class:"form-control"}}
   	</div>
   	
   	<div class="col-sm-2">
    <button id="compare_transcript_set" type="submit" class="btn btn-primary btn-block">Compare Transcript Set</button>	
    </div>
   	
  	</div>

	</form>
    </div>

   

    <div id="loadingSpinner_compare_with"><strong>Loading, please wait... </strong><img id="loading-img" src="{% static '/images/ajax-loader.gif' %}"><p></p></div>
    
    
    <table id="tark_datatable_compare_with" class="table table-striped table-bordered compact" cellspacing="0" width="95%">
      <thead>
            <tr>
             {% for fields in data_fields %}
                <th>{{ fields }}</th>
             {% endfor %}
            </tr>
      </thead>
     
    </table>
    
    </div>
    
  </div>
{% endblock %}




