{% extends "web_home.html" %}

{% block title %}DataTable{% endblock %}

{% load staticfiles %}
{% load add_class %}
{% load lookups %}

{% block extra_styles %}
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">


function create_current_release_table(id_data_table, table_name_, assembly_name_, release_name_, source_name_){
    console.log(id_data_table + "  " + table_name_ + "  " + assembly_name_ + "  " + release_name_ + "  " + source_name_);
 //datatable
    var tark_table = $('#'+id_data_table).DataTable( {

        "initComplete": function(settings, json) {
         $('#loadingSpinner').hide();
         $('#loadingSpinner_compare_with').hide();
         $('#compare_with_div').show();
         $('#select_transcript_compare_well').show();
         $('#diff_selected_transcript').show();
         

        },
        "serverSide": {{server_side_processing}},
        "pageLength": 5,
        "lengthMenu": [[5, 10, 25, 50], [5, 10, 25, 50]],
        {% if server_side_processing == 'true' %}
        "ajax": "/web/datatable_serverside/" + table_name_ + "/" + assembly_name_ + "/" + release_name_ + "/" + source_name_ + "/",
        {% else %}
         "ajax": "/web/datatable_clientside/" + table_name_ + "/" + assembly_name_ + "/" + release_name_ + "/" + source_name_ + "/",
        {% endif %}
        
       "data":{'serverSide':{{ server_side_processing }} },
        columnDefs: [ { orderable: false, className: 'select-checkbox',  targets:   0 },
                      { width: 20, targets: 0 }],
        fixedColumns: true,
        select: {
            style:    'os',
            selector: 'td:first-child'
        },
        aoColumns: [
            { "mData": "", sDefaultContent: "" },
            {% for fields in data_fields %}
  			{ "mData": "{{ fields }}", sDefaultContent: "" },
  	        {% endfor %}
		],
    } );
    
    return tark_table;
 
}//end function


/* function to clear select_transcript_compare_well*/
function clear_select_transcript_compare_well(){
	$("#current_stable_id").html("");
	$("#current_stable_id_version").html("");
	$("#current_stable_id_assembly").html("");
	$("#current_stable_id_release").html("");

	$("#compare_stable_id").html("");
	$("#compare_stable_id_version").html("");
	$("#compare_stable_id_assembly").html("");
	$("#compare_stable_id_release").html("");
}//end function



    $(document).ready(function() {
     $('#select_transcript_compare_well').hide();
     $('#diff_selected_transcript').hide();
     var original_state_compare_well = $("#select_transcript_compare_well").clone();

     var tark_table = create_current_release_table("tark_datatable","{{table_name}}", "{{assembly_name}}", "{{release_name}}", "{{source_name}}" );
     var tark_table_compare = create_current_release_table("tark_datatable_compare_with","{{table_name}}", "{{assembly_name_compare}}", "{{release_name_compare}}", "{{source_name_compare}}"  );

/*
	 //event handler for current assembly change
     $("#id_diff_current_source").change(function () {
       
       var assembly_releases = {{ all_assembly_releases|safe|escape }};
       var assembly_releases_refseq = {{ all_assembly_releases_refseq|safe|escape }};
       var cur_source_name = $(this).val(); 
	   var cur_assembly_name =  $("#id_diff_current_assembly").val(); 
	   console.log('cur_assembly_name ' + cur_assembly_name);
	   
	   if(cur_source_name == "Ensembl"){
	    //set assembly
	    var ensembl_assemblies = Object.keys(assembly_releases_refseq);
	    console.log(ensembl_assemblies);
	    var assembly_options = $.map(ensembl_assemblies, function(ensembl_assembly){
            return '<option value="' + ensembl_assembly + '">' + ensembl_assembly + '</option>'
        }).join('');
        $("#id_diff_current_assembly").html(assembly_options);
        
        //set release
	    
	   }else{
	    var refseq_assemblies = Object.keys(assembly_releases);
	    console.log(refseq_assemblies);
	   }
       var releases = assembly_releases[cur_assembly_name] || [];
       
       var release_options = $.map(releases, function(release){
            return '<option value="' + release + '">' + release + '</option>'
        }).join('');
        $("#id_diff_current_release").html(release_options);
     });
 */    
     //event handler for current assembly change
     $("#id_diff_current_assembly").change(function () {
       var assembly_releases = {{ all_assembly_releases|safe|escape }};
       var cur_assembly_name = $(this).val(); 

       var releases = assembly_releases[cur_assembly_name] || [];
       var options = $.map(releases, function(release){
            return '<option value="' + release + '">' + release + '</option>'
        }).join('');
        $("#id_diff_current_release").html(options);
     });
    
    //event handler for compare assembly change
    $("#id_diff_compare_assembly").change(function () {
       var assembly_releases = {{ all_assembly_releases|safe|escape }};
       var cur_assembly_name = $(this).val(); 

       var releases = assembly_releases[cur_assembly_name] || [];
       var options = $.map(releases, function(release){
            return '<option value="' + release + '">' + release + '</option>'
        }).join('');
        $("#id_diff_compare_release").html(options);
     });
    
    
    
    
    
     <!--Handle update transcript set click eventfor current set start -->
     $("#current_transcript_set").click(function (e) {
     clear_select_transcript_compare_well();
      
     var current_assembly = $("#id_diff_current_assembly").val();
     var current_release = $("#id_diff_current_release").val();
     var current_source = $("#id_diff_current_source").val();
     console.log(" current_source " + current_source + " current_assembly " + current_assembly + " current_release " + current_release + " current_source " + current_source);
     var current_well_text='<strong> Current Source: '+ current_source + '<strong> Curent Assembly: '+ current_assembly +'  Current Release: '+ current_release +'. To filter type: ENST00000296468 in search box. Select the assembly/release version and click the "Update Transcript Set" button to reload a different set</strong>';
   
     tark_table.destroy();
     $('#loadingSpinner').show();

     tark_table = create_current_release_table("tark_datatable","{{table_name}}",current_assembly, current_release, current_source);

      e.preventDefault(e);
     $('#current_well').html(current_well_text);
     $("#select_transcript_compare_well").replaceWith(original_state_compare_well);
     tark_table.rows( { selected: true } ).deselect();
     tark_table_compare.rows(  { selected: true } ).deselect();
     });
     <!--Handle update transcript set click eventfor current set end -->
    
    
    <!--Handle update transcript set click eventfor compare set start -->
     $("#compare_transcript_set").click(function (e) {
     clear_select_transcript_compare_well();
     var compare_assembly = $("#id_diff_compare_assembly").val();
     var compare_release = $("#id_diff_compare_release").val();
     var compare_source = $("#id_diff_compare_source").val();
     console.log(" compare_source " + compare_source + " compare_assembly " + compare_assembly + " compare_release " + compare_release);
     var compare_with_well_text='<strong> Compare Source: '+ compare_source + '<strong> Compare Assembly: '+ compare_assembly +'  Compare Release: '+ compare_release +'. To filter type: ENST00000296468 in search box. Select the assembly/release version and click the "Update Transcript Set" button to reload a different set</strong>';
   
     tark_table_compare.destroy();
     $('#loadingSpinner_compare_with').show();

     tark_table_compare = create_current_release_table("tark_datatable_compare_with","{{table_name}}",compare_assembly, compare_release, compare_source);
      e.preventDefault(e);
     $('#compare_with_well').html(compare_with_well_text);
     $("#select_transcript_compare_well").replaceWith(original_state_compare_well);
     tark_table.rows( { selected: true } ).deselect();
     tark_table_compare.rows(  { selected: true } ).deselect();
     });
     <!--Handle update transcript set click eventfor compare set end -->
    
    var stable_id_current = "";
    var stable_id_version_current = "";
    tark_table.on( 'select', function ( e, dt, type, indexes ) {
       $.map(tark_table.rows( { selected: true } ).data(), function (item) {
        stable_id_current = item.stable_id;
        stable_id_version_current = item.stable_id_version;
      });
      console.log("Current selection " + stable_id_current + " stable_id_version_current " + stable_id_version_current);
      
     $("#id_diff_me_assembly").val( $("#id_diff_current_assembly").val());
     $("#id_diff_me_release").val($("#id_diff_current_release").val());
     $("#id_diff_me_source").val($("#id_diff_current_source").val());
     $('#id_diff_me_stable_id').val(stable_id_current);

    });
    
    var stable_id_compare = "";
    var stable_id_version_compare = "";
    tark_table_compare.on( 'select', function ( e, dt, type, indexes ) {
       $.map(tark_table_compare.rows( { selected: true } ).data(), function (item) {
        stable_id_compare = item.stable_id;
        stable_id_version_compare = item.stable_id_version;
      });
      console.log("Compare selection " + stable_id_compare + " stable_id_version_compare " + stable_id_version_compare);
      
       $("#id_diff_with_assembly").val($("#id_diff_compare_assembly").val());
       $("#id_diff_with_release").val($("#id_diff_compare_release").val());
       $("#id_diff_with_source").val($("#id_diff_compare_source").val());
       $('#id_diff_with_stable_id').val(stable_id_compare);

    });
    
    /* Diff selected */
    $("#diff_selected_transcript").click(function (e) {
      console.log("diff selected transcript clicked");
       
       var diff_me_stable_id = $('#current_stable_id').text();
       var diff_me_assembly = $("#current_stable_id_assembly").text();
       var diff_me_release = $("#current_stable_id_release").text();
       var diff_me_source = $("#current_stable_id_source").text();
       
       var diff_with_stable_id = $('#compare_stable_id').text();
       var diff_with_assembly = $("#id_diff_with_assembly").val();
       var diff_with_release = $("#id_diff_with_release").val();
       
       console.log("diff_me_stable_id " + diff_me_stable_id  + " diff_with_stable_id " + diff_with_stable_id);
       if(diff_me_stable_id && diff_me_assembly && diff_me_release && diff_with_stable_id && diff_with_assembly && diff_with_release){
        console.log("inside if" );
        //options = {};
        request_url = "/web/diff/compare_set/" + diff_me_stable_id + "/" + diff_me_assembly + "/" + diff_me_release + "/" + diff_with_stable_id + "/" + diff_with_assembly + "/" + diff_with_release + "/";
        console.log(request_url);
        //$.get(request_url);
        //options.type = "GET";
        //options.dataType = "text";
        //options.error = function (jqXHR, status, err) { alert(status + "from AJAX"); };
        //$.ajax(options);
        }
      
     
      //e.preventDefault(e);
    });
   
  });
  </script>
{% endblock %}



{% block content %}
   <div class="container-fluid" style="padding-left:50px;padding-right:50px;">
   <div class="row">
    <div id="loadingSpinner"><strong>Loading, please wait... </strong><img id="loading-img" src="{% static '/images/ajax-loader.gif' %}"><p></p></div>

    <div id="current_well" class="well well-sm" style="color: #31708f;background-color: #d9edf7;border-color: #bce8f1;"><strong>Current Assembly: "{{ assembly_name }}"  Current Release: "{{ release_name }}". To filter type: ENST00000302118 in search box. Select the assembly/release version and click the "Update Transcript Set" button to reload a different set</strong> </div>

     <!-- div assembly_release_current_well start -->
    <div id="assembly_release_current_well" class="row">
     <div class="col-md-10">
    <form id="current_form" class="form-horizontal" method="POST" action="">
    {% csrf_token %}
  	<div class="form-group">
  	<label class="control-label col-md-1" for="source">Source:</label>
   	<div class="col-md-2">
    {{ form.diff_current_source|add_class:"form-control"}}
  	</div>
  	
   	<label class="control-label col-md-2" for="assembly">Assembly/Release:</label>
   	<div class="col-md-2">
    {{ form.diff_current_assembly|add_class:"form-control"}}
  	</div>
 
   	<div class="col-md-1">
      {{ form.diff_current_release|add_class:"form-control"}}
   	</div>
   	
   	<div class="col-md-3">
    <button id="current_transcript_set" type="submit" class="btn btn-primary btn-block">Update Transcript Set</button>
    </div>

    </div>

	</form>
    </div>
    </div>
     <!-- div assembly_release_current_well end -->
    <hr/>
    
    <table id="tark_datatable" class="table table-striped table-bordered compact" cellspacing="0" width="95%">
      <thead>
            <tr>
             <th></th>
             {% for fields in data_fields %}
                <th>{{ fields|column_mappings }}</th>
             {% endfor %}
            </tr>
      </thead>
     
    </table>
    </div>
    
    <div class="row" id="compare_with_div" style="display: none;">
    <div id="compare_with_well" class="well well-sm" style="color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;">
    <strong> Compare Assembly: "{{ assembly_name_compare }}"  Compare Release: "{{ release_name_compare }}". To filter type: ENST00000302118 in search box. Select the assembly/release version and click the "Update Transcript Set" button to reload a different set</strong>
    </div>
   
   
    <!-- div assembly_release_compare_well start -->
    <div id="assembly_release_compare_well" class="row">
     <div class="col-md-10">
    <form id="compare_form" class="form-horizontal" method="POST" action="">
    {% csrf_token %}
   
   <div class="form-group">
  	<label class="control-label col-md-1" for="source">Source:</label>
   	<div class="col-md-2">
    {{ form.diff_compare_source|add_class:"form-control"}}
  	</div>
  	
  	<div class="form-group">
   	<label class="control-label col-md-2" for="assembly">Assembly/Release:</label>
   	<div class="col-md-2">
    {{ form.diff_compare_assembly|add_class:"form-control"}}
  	</div>
 
   	<div class="col-md-1">
      {{ form.diff_compare_release|add_class:"form-control"}}
   	</div>
   	
   	<div class="col-md-3">
    <button id="compare_transcript_set" type="submit" class="btn btn-success btn-block">Update Transcript Set</button>
    </div>

    </div>

	</form>
    </div>
    </div>
    <hr/>

    
     <!-- div assembly_release_compare_well end -->
   
    <div id="loadingSpinner_compare_with"><strong>Loading, please wait... </strong><img id="loading-img" src="{% static '/images/ajax-loader.gif' %}"><p></p></div>
    
    <table id="tark_datatable_compare_with" class="table table-striped table-bordered compact" cellspacing="0" width="95%">
      <thead>
            <tr>
             <th></th>
             {% for fields in data_fields %}
                   <th>{{ fields|column_mappings }}</th>
             {% endfor %}
            </tr>
      </thead>
     
    </table>
    
    </div>

<hr>
<!-- Selected transcript comparison start --> 
    <div id="select_transcript_compare_well" class="row col-md-12">
	<form id="diff_form" class="form-horizontal" method="POST" action="{% url 'diff_home' %}">
	{% csrf_token %}
	

	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading"><strong>Diff Me</strong></div>
				<div class="panel-body">
  		
				  <div class="form-group">
				    <label class="control-label col-md-3" for="stable_id">StableID:</label>
				    <div class="col-md-6">
				    <input type="text" name="diff_me_stable_id" class="form-control" id="id_diff_me_stable_id"  maxlength="30" readonly>
				    </div>
				  </div>
				
				<div class="form-group">
				  <label class="control-label col-md-3 for="diff_me_source"="">Source:</label>
				   <div class="col-md-6">
				   <input type="text" name="diff_me_source" class="form-control" id="id_diff_me_source"  readonly>
  				  </div>
  				 </div>
  				   
				 <div class="form-group">
				  <label class="control-label col-md-3 for=" diff_me_assembly"="">Assembly/Release:</label>
				   <div class="col-md-4">
				   <input type="text" name="diff_me_assembly" class="form-control" id="id_diff_me_assembly"  readonly>
  				  </div>
				 
				   <div class="col-md-2">
				    <input type="text" name="diff_me_release" class="form-control" id="id_diff_me_release"  readonly>
				   </div>
				  </div>
				
				</div>
			</div>
	</div>
	
	<div class="col-md-6">
		<div class="panel panel-success">
			<div class="panel-heading"><strong>Diff With</strong></div>
				<div class="panel-body">
				
				
			    <div class="form-group">
				    <label class="control-label col-md-3" for="stable_id">StableID:</label>
				    <div class="col-md-6">
				    <input type="text" name="diff_with_stable_id" class="form-control" id="id_diff_with_stable_id" required="" maxlength="30" readonly>
				    </div>
				</div>
				
				<div class="form-group">
				  <label class="control-label col-md-3 for="diff_with_source"="">Source:</label>
				   <div class="col-md-6">
				   <input type="text" name="diff_with_source" class="form-control" id="id_diff_with_source"  readonly>
  				  </div>
  				</div>
				
				<div class="form-group">
				  <label class="control-label col-md-3" for="diff_with_assembly">Assembly/Release:</label>
				  <div class="col-md-4">
				   <input type="text" name="diff_with_assembly" class="form-control" id="id_diff_with_assembly"  readonly>
 				  </div>

				   <div class="col-md-2">
				    <input type="text" name="diff_with_release" class="form-control" id="id_diff_with_release"  readonly>
				   </div>
				  </div>
				
				</div>
			</div>
	</div>

<button type="submit" class="btn btn-info btn-block">Diff Transcripts</button>
</form>
</div>
<!-- Selected transcript comparison end -->



  </div>
{% endblock %}




