{% block extra_scripts %}
 <script>
 jQuery(function($) {
 
 $("a[id^=show_diff_me_]").click(function(event) {
    console.log('diff me clicked ' + $(this).attr('id'));
    $("#extra_diff_me_" + $(this).attr('id').substr(13)).slideToggle();
    event.preventDefault();
 });
 
 $("a[id^=show_diff_with_]").click(function(event) {
    console.log('diff with clicked ' + $(this).attr('id'));
    $("#extra_diff_with_" + $(this).attr('id').substr(15)).slideToggle();
    event.preventDefault();
 });
 
 
   });
  </script>
{% endblock %}





{% load staticfiles %}
{% load add_class %}
{% load compare_features %}
{% load sequence_format %}
{% load lookups %}

<!--diffme2diffwith -->
<div>


{% if diff_result.exonsets_diffme2diffwith %}
{% with diff_result.exonsets_diffme2diffwith as exonsets_match_diffme2diffwith %}
{% with diff_result.diff_me_transcript.exons as diff_me_exons %}

<table id="exonset_diff" class="table table-bordered table-striped table-condensed">
 <thead>
<tr style="background-color: #4b6584;color:#ffffff">
<th>ExonSet1 from {{ diff_result.diff_me_transcript.stable_id }}.{{ diff_result.diff_me_transcript.stable_id_version }} </th>
<th>Overlaps</th>
<th>ExonSet2 from {{ diff_result.diff_with_transcript.stable_id }}.{{ diff_result.diff_with_transcript.stable_id_version }}</th>
<th>LocMatch</th>
<th>SeqMatch</th>

</tr>
</thead>
<tbody>



  {% if exonsets_match_diffme2diffwith.0.0 == "cumulative_overlap_score" and exonsets_match_diffme2diffwith.0.1 == 0 %}
  <tr>
   <td colspan="5">
  {{diff_with_exons}} No matching exons
  </td>
  </tr>
  
  {% else %}
  
  {% for diff_me_exon, diff_with_exons in exonsets_match_diffme2diffwith %}

  {% with diff_with_exons.0 as diff_with_exon %}
  
   {% if diff_me_exon != "cumulative_overlap_score" %}
<tr>
<td>
{% if diff_me_exon.stable_id %}
{{diff_me_exon.stable_id}}.{{diff_me_exon.stable_id_version}} ({{ diff_me_exon.exon_order }})
{% endif %}
</td>
<td class="text-center">
{% if diff_with_exon.overlapping_exon.stable_id %}
<i class="glyphicon glyphicon-ok text-center" style="color:green"></i>
{% endif %}
</td>
<td>
{% if diff_with_exon.overlapping_exon.stable_id %}
{{diff_with_exon.overlapping_exon.stable_id}}.{{diff_with_exon.overlapping_exon.stable_id_version}} ({{diff_with_exon.overlapping_exon.exon_order}})
{% endif %}
</td>

  <td class="text-center">
 {% if diff_with_exon.loc_checksum == False %}
 <i class="glyphicon glyphicon-remove text-center"  style="color:red"></i>
 {% elif diff_with_exon.loc_checksum == True %}
 <i class="glyphicon glyphicon-ok text-center"  style="color:green"></i>
 {% endif %}
</td>

  <td class="text-center">
{% if diff_with_exon.seq_checksum == False %}
<i class="glyphicon glyphicon-remove text-center"  style="color:red"></i>
  {% elif diff_with_exon.seq_checksum == True  %}
<i class="glyphicon glyphicon-ok text-center"  style="color:green"></i>
{% endif %}
</td>

</tr>

 {% endif %}
{% endwith %}

{% endfor %}
 {% endif %}

{% endwith %}
{% endwith %}
{% endif %}
	</tbody>
   </table>
</div>
 