{% load staticfiles %}
{% load add_class %}
{% load compare_features %}
{% load sequence_format %}


<div class="panel-group" id="geneaccordion">
	<div class="panel panel-default">
    	<div class="panel-heading" data-target="#collapsegene" data-toggle="collapse" data-parent="#geneaccordion">
        	<h4 class="panel-title">
            	<a href="#.">
                	<span class="glyphicon glyphicon-plus"></span>
                    Gene
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" id="collapsegene">
        	<div class="panel-body">
                           <!--Genes-->

{% if diff_result.diff_me_transcript.gene %}
<table id="compare_result" class="table table-bordered table-striped table-condensed">
{% with diff_result.diff_me_transcript.gene as diff_me_gene %}
{% with diff_result.diff_with_transcript.gene as diff_with_gene %}
{% with diff_result.results as diff_result %}

<tr style="background-color: #a5b1c2;color:#000000">
    <th>Gene</th>
    <th>DIFF ME ({{ diff_result.diff_me_assembly.assembly_name}}/{{diff_result.diff_me_release}})</th>
    <th>DIFF WITH ({{ diff_result.diff_with_assembly.assembly_name}}/{{diff_result.diff_with_release}})</th><th style="text-align:center">MATCH</th>
</tr>
<tr>
<td>StableID</td><td>{{ diff_me_gene.stable_id }} </td><td>{{ diff_with_gene.stable_id }}</td><td style="text-align:center"> {% include "match_include.html" with has_var_checksum=diff_result.has_gene_stable_id_changed %}</td>
</tr>
<tr>
<td>StableID Version</td><td>{{ diff_me_gene.stable_id_version }} </td><td>{{ diff_with_gene.stable_id_version }}</td><td style="text-align:center"> {% include "match_include.html" with has_var_checksum=diff_result.has_gene_stable_id_version_changed %}</td>
</tr>
<tr>
<td>HGNC</td><td>{{diff_me_gene.hgnc}}</td><td>{{diff_with_gene.hgnc}}</td><td style="text-align:center"> {% include "match_include.html" with has_var_checksum=diff_result.has_hgnc_changed %}</td>
</tr>
<tr>
<td>Location</td><td>{{diff_me_gene|get_location_string}}</td><td>{{diff_with_gene|get_location_string}}</td><td style="text-align:center"> {% include "match_include.html" with has_var_checksum=diff_result.has_gene_location_changed %}</td>
</tr>

<tr>
    <th>Checksum</th>
    <th></th>
    <th></th>
    <th></th>
</tr>
<tr>
<td>Location</td><td>{{ diff_me_gene.loc_checksum|truncatechars:25 }} </td><td>{{ diff_with_gene.loc_checksum|truncatechars:25 }}</td><td style="text-align:center"> {% include "match_include.html" with has_var_checksum=diff_result.has_gene_location_changed %}</td>
</tr>
<tr>
<td>Gene</td><td>{{ diff_me_gene.gene_checksum|truncatechars:25 }} </td><td>{{ diff_with_gene.gene_checksum|truncatechars:25 }}</td><td style="text-align:center"> {% include "match_include.html" with has_var_checksum=diff_result.has_gene_changed %}</td>
</tr>

{% endwith %}
{% endwith %}
{% endwith %}
</table>
{% endif %}
            </div>
        </div>
     </div>

     
</div>
</div>