{% load add_class %}
{% load compare_features %}

<!-- Location Expander -->
<div class="container">
<div id="has_location_changed" class="collapse">

  {% if diff_result.results.has_location_changed %}
  <div class="panel panel-danger">
  {% else %}
    <div class="panel panel-success">
  {% endif %}

    <div class="panel-heading"><i class="glyphicon glyphicon-collapse-down"></i> <strong>Location Compare</strong></div>
      <div class="panel-body">
      <!--Location start-->
      <div class="row">
     <!--Transcript1 -->
   <div class="col-md-5 col-sm-5">
  <ul class="list-group">
    {% with diff_result.diff_me_transcript.results.0 as diff_me_tr %}
  <li class="list-group-item list-group-item-info"><strong>Diff Me</strong></li>
  <li class="list-group-item">Region <span class="label label-primary label-diff">{{ diff_me_tr.loc_region }}</span></li>
  <li class="list-group-item">Start <span class="label label-primary label-diff">{{ diff_me_tr.loc_start }}</span></li> 
  <li class="list-group-item">Stop <span class="label label-primary label-diff">{{ diff_me_tr.loc_end }}</span></li>
  <li class="list-group-item">Strand <span class="label label-primary label-diff">{{ diff_me_tr.loc_strand }}</span></li> 

  <li class="list-group-item list-group-item-info"><strong>Checksums</strong></li>
  <li class="list-group-item">Location <span class="label label-primary label-diff">{{ diff_me_tr.loc_checksum }}</span></li> 
      {% endwith %}
  </ul>
   </div>
     <!--Transcript1 -->
   
   <!--Match -->
  <div class="col-md-2 col-sm-2">
  <ul class="list-group">
  <li class="list-group-item text-center">Match</li>
  
  {% with diff_result|compare_transcript:"loc_region" as has_loc_region_changed %}
  {% include "checksum_match.html" with has_var_checksum=has_loc_region_changed %}
  {% endwith %}
  
  {% with diff_result|compare_transcript:"loc_start" as has_loc_start_changed %}
  {% include "checksum_match.html" with has_var_checksum=has_loc_start_changed %}
  {% endwith %}
  
  {% with diff_result|compare_transcript:"loc_end" as has_loc_end_changed %}
    {% include "checksum_match.html" with has_var_checksum=has_loc_end_changed %}
  {% endwith %}

  {% with diff_result|compare_transcript:"loc_strand" as has_loc_strand_changed %}
    {% include "checksum_match.html" with has_var_checksum=has_loc_strand_changed %}
  {% endwith %}

<!--checksums -->
  <li class="list-group-item text-center">Checksums</li>
  
  {% with diff_result|compare_transcript:"loc_checksum" as has_transcript_checksum %}
  {% include "checksum_match.html" with has_var_checksum=has_transcript_checksum %}
  {% endwith %}
  
  </ul>
  </div>
  <!--Match -->
   
   
   
   
     <!--Transcript2 -->
   <div class="col-md-5 col-sm-5">
    <ul class="list-group">
   {% with diff_result.diff_with_transcript.results.0 as diff_with_tr %}
  <li class="list-group-item list-group-item-warning"><strong>Diff With</strong></li>
  <li class="list-group-item">Region <span class="label label-primary label-diff">{{ diff_with_tr.loc_region }}</span></li>
  <li class="list-group-item">Start <span class="label label-primary label-diff">{{ diff_with_tr.loc_start }}</span></li> 
  <li class="list-group-item">Stop <span class="label label-primary label-diff">{{ diff_with_tr.loc_end }}</span></li>
  <li class="list-group-item">Strand <span class="label label-primary label-diff">{{ diff_with_tr.loc_strand }}</span></li> 

  <li class="list-group-item list-group-item-warning"><strong>Checksums</strong></li>
  <li class="list-group-item">Location<span class="label label-primary label-diff">{{ diff_with_tr.loc_checksum }}</span></li> 
   {% endwith %}
   </ul>
   </div>
  <!--Transcript2 -->
     
   </div>
      
      
      </div>
    </div>
  </div>

</div>

