{% extends "web_home.html" %}

{% load static %}
{% load add_class %}

{% load search_result_formatter %}

{% block content %}

    <div class="container" style="padding-top:20px;">

        <!-- Info -->
        <div class="panel panel-success">

            <div class="panel-heading"><i class="glyphicon glyphicon-info-sign"></i> <strong><a
                    href="https://ncbiinsights.ncbi.nlm.nih.gov/2018/10/11/matched-annotation-by-ncbi-and-embl-ebi-mane-a-new-joint-venture-to-define-a-set-of-representative-transcripts-for-human-protein-coding-genes/"
                    target="_blank">MANE</a> Transcripts</strong>
                Note: "<strong>MANE Select</strong>" – representative transcripts that are matched between RefSeq and
                Ensembl
            </div>

            <div class="panel-body">

                <table id="feature_table"
                       class="table table-striped table-bordered table-responsive table-condensed text-center">
                    <thead>
                    <tr>
                        <th>Ensembl StableID</th>
                        <th>RefSeq StableID</th>
                        <th>MANE TYPE</th>
                        <th>Gene (Click to Search)</th>
                    </tr>
                    </thead>

                    <tbody>
                    <!--
                        When dealing with large datasets with Datatables we want to avoid using the iteration at the <tr> level
                        and instead we want to set the data attribute within the DataTable definition.
                        We can do this by creating a JSON object within the script tag below and then iterating 'results' and building up the JSON.
                        Datatables renders faster when the source of the data is defined in this way.
                        https://stackoverflow.com/a/68860238/4488332
                    -->
                    </tbody>
                </table>

            </div>
        </div>
    </div>



    <script>
        let data = [
            {% for feature in results %}
                {
                    "ens_stable_id": "<a target=\"_blank\" href=http://ensembl.org/Homo_sapiens/Transcript/Summary?db=core;t={{feature.ens_stable_id}}.{{feature.ens_stable_id_version}}>{{feature.ens_stable_id}}.{{feature.ens_stable_id_version}}</a>",
                    "refseq_stable_id": "<a target=\"_blank\" href=https://www.ncbi.nlm.nih.gov/nuccore/{{feature.refseq_stable_id}}.{{feature.refseq_stable_id_version}}>{{feature.refseq_stable_id}}.{{feature.refseq_stable_id_version}}</a>",
                    "mane_type": "{{ feature.mane_type }}",
                    "ens_gene_name": "<a target=\"_blank\" href=/web/search/?identifier={{feature.ens_gene_name}}>{{feature.ens_gene_name}}</a>",
                }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            var table = $('#feature_table').DataTable({
                dom: 'lBfrtip',
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "buttons": [
                    {extend: 'copy', text: 'COPY', exportOptions: {columns: ':visible', rows: ':visible'}},
                    {extend: 'csv', text: 'CSV', exportOptions: {columns: ':visible', rows: ':visible'}},
                    {extend: 'excel', text: 'Excel', exportOptions: {columns: ':visible', rows: ':visible'}},
                    {extend: 'pdf', text: 'PDF', exportOptions: {columns: ':visible', rows: ':visible'}},
                    'colvis'
                ],
                data: data,
                columns: [
                    {data: 'ens_stable_id'},
                    {data: 'refseq_stable_id'},
                    {data: 'mane_type'},
                    {data: 'ens_gene_name'},
                ],
                "deferRender": true,
                "language": {
                    "search": "<strong>Filter results:</strong> ",
                    "processing": true
                },
                "pageLength": 25,
                "order": [[3, "asc"]]
            });
        });
    </script>


{% endblock %}
