{% extends "web_home.html" %}

{% block title %}Accessing MANE data{% endblock %}

{% load staticfiles %}
{% load add_class %}
{% load add_class %}
{% load search_result_formatter %}

{% block content %}

    <div class="mane container" style="padding-top:20px;">

        {% include 'mane_breadcrumbs.html' with current_page='Accessing MANE data' %}


        <div class="row">

            <div class="col-md-12">


                <h1 class="">Accessing MANE data</h1>


                <div class="alert alert-warning" role="alert">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    Note: We will have several data releases as we make progress on completing the MANE projects.
                </div>
                <!-- Browse list on access mane data to be above Bulk data download -->
                <h3><span class="glyphicon glyphicon-search" style="top: 4px"></span>&nbsp;Browse list</h3>
                <!-- New, faster manelist -->
                <p>Browse or export a list of all MANE transcripts in <a class="icon-external-link"
                                                                         href="/web/manelist/">Tark</a>.</p>
                <!-- New page to display matching CDS and UTR -->
                <p><a class="icon-external-link" href="/web/mane_GRCh37_list/">Browse</a> matches from GRCh37 showing
                    equivalence in 5' UTR, 3' UTR and CDS in relation to MANE Select and MANE Plus Clinical transcripts
                    on GRCh38.</p>
                <h3><span class="glyphicon glyphicon-download-alt" style="top: 4px"></span>&nbsp;Bulk data download</h3>

                <p>The full MANE transcript datasets can be downloaded via:</p>
                <ul>
                    <li>EBI's
                        <a href="http://ftp.ensembl.org/pub/data_files/homo_sapiens/GRCh38/mane/"
                           class="icon-external-link"
                           target="_blank">FTP</a> (data in GFF and GTF formats).
                    </li>
                    <li>NCBI's
                        <a href="https://ftp.ncbi.nlm.nih.gov/refseq/MANE/MANE_human/current/"
                           class="icon-external-link"
                           target="_blank">FTP</a>.
                        See the
                        <a href="https://ftp.ncbi.nlm.nih.gov/refseq/MANE/README.txt" class="icon-external-link"
                           target="_blank">README
                            file</a> (data in FASTA, GFF3 and GTF formats for both Ensembl (ENST) and RefSeq (NM)
                        identifiers).
                    </li>
                    <li>GenBank files are available for RefSeq transcripts and proteins. (e.g. <a
                            href="https://www.ncbi.nlm.nih.gov/nuccore/NM_014491.4" target="_blank">NM_014491.4</a>)
                    </li>
                    <li>For the GFF and GTF <a class="icon-external-link" target="_blank"
                                               href="https://ftp.ncbi.nlm.nih.gov/genomes/refseq/vertebrate_mammalian/Homo_sapiens/annotation_releases/current">RefSeq
                        annotation files</a>:
                        <ul>
                            <li>Column 9 contains a “MANE Select” tag attribute in the rows associated with the mRNA,
                                CDS and exon features.
                            </li>
                            <li>Column 9 contains the matching Ensembl transcript identifier as an external database
                                reference (Dbxref).
                            </li>
                            <li>Rows in the annotation files associated with the CDS feature
                                contain the MANE Select tag, along with the matching Ensembl protein identifier.
                            </li>
                        </ul>
                    </li>
                </ul>

                <h3><span class="glyphicon glyphicon-wrench" style="top: 4px"></span>&nbsp;Web services</h3>

                <p>The full list of MANE Select transcripts can be accessed programmatically using Tark’s REST API to
                    GET the results in JSON format. For more information, see <a
                            href="/api/#!/transcript/transcript_manelist_list">here</a>.</p>

                <p>Ensembl provides a <a href="https://rest.ensembl.org/" target="_blank">RESTful web service</a> for
                    access to Ensembl data including the MANE transcripts.
                    For example this works for Ensembl's Variant Effect Predictor (<a href="https://www.ensembl.org/vep"
                                                                                      target="_blank">VEP</a>) calls,
                    enabling MANE transcript annotation to be included in VEP results, e.g. </p>

                <ul>
                    <li><a class="icon-external-link" target="_blank"
                           href="https://rest.ensembl.org/documentation/info/vep_id_post">Fetch variant consequences for
                        multiple ids, including MANE Select annotations</a></li>
                    <li><a class="icon-external-link" target="_blank"
                           href="https://rest.ensembl.org/documentation/info/vep_region_get">Fetch variant consequences,
                        including MANE Select annotations</a></li>
                </ul>


                <h3><span class="glyphicon glyphicon-globe" style="top: 4px"></span>&nbsp;Track hubs</h3>

                <p>We have released this data as a trackhub to visualise the most recent release of
                    MANE data as a track in genome browsers, such as hosted by Ensembl, NCBI and UCSC. </p>

                <ul>
                    <li>Via the <a class="icon-external-link" target="_blank"
                                   href="https://trackhubregistry.org/search/view_trackhub/fX2YzWwBC1KK65ecVizB">TrackHub
                        Registry</a></li>
                    <li>From NCBI <a class="icon-external-link" target="_blank"
                                     href="https://ftp.ncbi.nlm.nih.gov/refseq/MANE/trackhub/hub.txt">here</a>
                    </li>
                </ul>


                <h3><span class="glyphicon glyphicon-search" style="top: 4px"></span>&nbsp;Browsers and other resources
                </h3>

                <p>MANE transcripts are already displayed in the following resources:</p>

                <ul>
                    <li><a href="http://www.ensembl.org/index.html" target="_blank">Ensembl</a>, <a
                            href="https://www.ensembl.org/vep" target="_blank">VEP</a> and <a
                            href="http://www.ensembl.org/biomart/martview" target="_blank">BioMart</a>, (see the Ensembl
                        <a class="icon-external-link" target="_blank"
                           href="http://www.ensembl.org/Homo_sapiens/Transcript/Summary?db=core;g=ENSG00000128573;r=7:114414997-114693768;t=ENST00000350908#transcripts_table">transcript
                            table</a> for example)
                    </li>
                    <li>UCSC on the GRCh38 (hg38) assembly, (see configuration
                        <a class="icon-external-link" target="_blank"
                           href="https://genome.ucsc.edu/cgi-bin/hgTrackUi?hgsid=1017087173_CiSY9g1wezeoNbSXx5kIELWDjV7T&c=chrX&g=mane">
                            page</a>)
                    </li>
                    <li>NCBI’s <a class="icon-external-link" target="_blank"
                                  href="https://www.ncbi.nlm.nih.gov/genome/gdv/">Genome Data Viewer</a> (GDV) or
                        <a class="icon-external-link" target="_blank"
                           href="https://www.ncbi.nlm.nih.gov/variation/view/">Variation Viewer</a> browsers
                    </li>
                    <li>The Genome Aggregation Database (gnomAD v3 - <a
                            href="https://gnomad.broadinstitute.org/gene/ENSG00000169174?dataset=gnomad_r3"
                            target="_blank">see example</a>)
                    </li>
                    <li>ClinVar (<a href="https://www.ncbi.nlm.nih.gov/clinvar/variation/8704" target="_blank">see
                        example</a>)
                    </li>
                    <li>DECIPHER (<a href="https://decipher.sanger.ac.uk/gene/EP300/transcripts" target="_blank">see
                        example</a>)
                    </li>
                    <li>ClinGen Allele Registry (see
                        <a class="icon-external-link" target="_blank"
                           href="http://reg.clinicalgenome.org/redmine/projects/registry/genboree_registry/by_caid?caid=CA028319">example</a>)
                    </li>
                    <li>NCBI Entrez search</li>
                    <li><a href="https://varnomen.hgvs.org/recommendations/general/" target="_blank">HGVS</a></li>
                </ul>


            </div>

        </div>
    </div>

{% endblock %}
