{% extends "web_home.html" %}

{% load staticfiles %}
{% load add_class %}
{% load add_class %}
{% load search_result_formatter %}

{% block content %}

<div class="container" style="padding-top:20px;">

<div class="row">

    <div class="col-md-12">

        <h1><span class="glyphicon glyphicon-envelope" style="top:4px"></span> Contact us</h1>
        <br>

        <p>Please do get in touch for any queries or to feedback on the MANE projects.
          Comments and suggestions are welcome, or get in touch if you want to feedback
          on the transcript annotation.</p>

          <p> Please use one of the following email addresses:</p>

    <ul>
        <li><a href="mailto:mane-help@ebi.ac.uk">mane-help@ebi.ac.uk</a></li>
        <li><a href="mailto:MANE-help@ncbi.nlm.nih.gov">MANE-help@ncbi.nlm.nih.gov</a> </li>
        <li><a href="mailto:helpdesk@ensembl.org">helpdesk@ensembl.org</a> </li>
    </ul>


    </div>

</div>
 </div>

{% endblock %}