{% load staticfiles %}

<nav class="navbar navbar-inverse" style="background-color:#227093">
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li><a class="navbar-brand" id="logo" href="/"><span class="title"><img alt="ensembl" height="30" width="30"
                                                                                    src="{% static '/images/ebang.png' %}"/> Transcript Archive </span></a>
            </li>
            <li class="navbar-separator">|</li>
            <li class="navbar-item"><a href="/web/datatable/release_set/">ReleaseSets</a></li>
            <li class="navbar-separator">|</li>
            <li class="navbar-item"><a href="/web/statistics/">ReleaseStats</a></li>
            <li class="navbar-separator">|</li>
            <li class="navbar-item"><a href="/web/mane_project/">MANE Collaboration</a></li>
            <li class="navbar-separator">|</li>
            <li class="navbar-item"><a href="/web/search/"> Search & Compare </a></li>
            <li class="navbar-separator">|</li>

            {% if show_rest == "true" %}
                <li class="navbar-item"><a href="/api/"> REST-Tark</a></li>
            {% else %}
                <li class="navbar-item"><a href="/web/"> Web-Tark</a></li>
            {% endif %}

            <li class="navbar-separator">|</li>
            <li class="navbar-item"><a href="/documentation"><span class="glyphicon glyphicon-file"></span> Help</a>
            </li>
            <li class="navbar-separator">|</li>
            <li class="navbar-item"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li class="navbar-separator">|</li>
            <li class="navbar-item"><a
                    href="https://www.ebi.ac.uk/data-protection/privacy-notice/transcript-archive-tark-"
                    target="_blank"> Privacy Notice</a></li>
            <li class="navbar-separator">|</li>
        </ul>

        {% include "search_box.html" %}

    </div>
</nav>
