{% extends "web_home.html" %}

{% block extra_scripts %}
    <script>
        function set_assembly_options(diff_type, cur_source) {
            console.log("Current source " + cur_source);

            var assembly_options = "<option value=''></option>";
            if (cur_source == "Ensembl") {

                var assembly_releases_ensembl = {{ all_assembly_releases_ensembl|safe|escape }};
                assembly_options = build_options_assembly(assembly_releases_ensembl);

            } else if (cur_source == "RefSeq") {

                var assembly_releases_refseq = {{ all_assembly_releases_refseq|safe|escape }};
                assembly_options = build_options_assembly(assembly_releases_refseq);
            }
            console.log("=====assembly_options======== ");
            console.log(assembly_options);

            $("#id_" + diff_type + "_assembly").html(assembly_options);
        }

        function set_release_options(diff_type, cur_source, cur_assembly) {
            console.log("Current source " + cur_source);
            console.log("Current assembly " + cur_assembly);
            var release_options = "<option value=''></option>";

            if (cur_source == "Ensembl") {
                var assembly_releases_ensembl = {{ all_assembly_releases_ensembl|safe|escape }};
                var releases = assembly_releases_ensembl[cur_assembly] || [];

                console.log("ensembl releases=");
                console.log(releases);

                release_options = build_options_release(releases);


            } else if (cur_source == "RefSeq") {
                var assembly_releases_refseq = {{ all_assembly_releases_refseq|safe|escape }};
                var releases = assembly_releases_refseq[cur_assembly] || [];
                release_options = build_options_release(releases);

            }
            $("#id_" + diff_type + "_release").html(release_options);

        }

        function build_options_release(releases) {


            var release_options = $.map(releases, function (release) {
                return '<option value="' + release + '">' + release + '</option>'
            }).join('');
            return release_options;

        }


        function build_options_assembly(assembly_releases) {
            var assemblies = Object.keys(assembly_releases);
            assemblies.sort();
            assemblies.reverse();

            var assembly_options = $.map(assemblies, function (assembly) {
                return '<option value="' + assembly + '">' + assembly + '</option>'
            }).join('');
            return assembly_options;

        }


        jQuery(function ($) {


            var assembly_releases = {{ all_assembly_releases|safe|escape }};
            console.log(assembly_releases);

            var assembly_releases_refseq = {{ all_assembly_releases_refseq|safe|escape }};
            var assembly_releases_ensembl = {{ all_assembly_releases_ensembl|safe|escape }};

            var assemblies_ensembl = Object.keys(assembly_releases_ensembl);

            var assemblies_refseq = Object.keys(assembly_releases_refseq);

            $("#id_diff_me_release").change(function () {
                console.log("id_diff_me_release changed to " + $(this).val());

                var cur_release = $(this).val();
                var previous_release = cur_release - 1;
                $("#id_diff_with_release").val(previous_release);
            });

            //DIFF ME
            $("#id_diff_me_source").change(function () {
                console.log("diff_me_source changed to " + $(this).val());

                var cur_source = $(this).val();

                //set diff_me_assembly
                set_assembly_options("diff_me", cur_source);

                //set diff_me_releases
                var cur_diff_me_assembly = $("#id_diff_me_assembly").val();
                set_release_options("diff_me", cur_source, cur_diff_me_assembly);

            });

            $("#id_diff_me_assembly").change(function () {
                console.log("diff_me_assembly changed");

                //set diff_me_release
                var cur_source = $("#id_diff_me_source").val();
                var cur_diff_me_assembly = $("#id_diff_me_assembly").val();
                set_release_options("diff_me", cur_source, cur_diff_me_assembly);


            });


            // DIFF WITH
            $("#id_diff_with_source").change(function () {
                console.log("diff_with_source changed");

                var cur_source = $(this).val();

                //set diff_me_assembly
                set_assembly_options("diff_with", cur_source);

                //set diff_with_releases
                var cur_diff_with_assembly = $("#id_diff_with_assembly").val();
                set_release_options("diff_with", cur_source, cur_diff_with_assembly);

            });


            $("#id_diff_with_assembly").change(function () {
                console.log("diff_with_assembly changed");

                //set diff_with_release
                var cur_source = $("#id_diff_with_source").val();
                var cur_diff_with_assembly = $("#id_diff_with_assembly").val();
                set_release_options("diff_with", cur_source, cur_diff_with_assembly);


            });


        });
    </script>
{% endblock %}


{% load staticfiles %}
{% load add_class %}

{% block content %}

    <div class="container" style="padding-top:20px;">


        <div class="panel panel-warning ">
            <div class="panel-heading"><i class="glyphicon glyphicon-info-sign"></i> <strong>Tark ReleaseSet
                Diff</strong></div>
            <div class="panel-body">
                Use this tool to find differences between current and previous release sets (eg: between e95 and e94)
            </div>
        </div>


        <div class="row">
            <form id="diff_form" class="form-horizontal" method="POST" action="">
                {% csrf_token %}
                {% for error in form.non_field_errors %}
                    <div class="form-group has-errors text-danger small">
                        {{ error }}
                    </div>
                {% endfor %}

                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading panel-heading-sm"><strong>Current Release</strong></div>
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="control-label col-md-3" for="source">Source:</label>
                                <div class="col-md-6">
                                    <select name="diff_me_source" id="id_diff_me_source" required=""
                                            class="form-control" disabled="true">
                                        <option value="Ensembl">Ensembl</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">

                                <label class="control-label col-md-3 for=" diff_me_assembly">Assembly/Release:</label>
                                <div class="col-md-4">
                                    <select name="diff_me_assembly" class="form-control" id="id_diff_me_assembly"
                                            disabled="true">
                                        <option value="GRCh38" selected="">GRCh38</option>
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    {{ form.diff_me_release|add_class:"form-control"}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading panel-heading-sm"><strong>Previous Release</strong></div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-md-3" for="source">Source:</label>
                                <div class="col-md-6">
                                    <select name="diff_with_source" id="id_diff_with_source" required=""
                                            class="form-control" disabled="true">
                                        <option value="Ensembl">Ensembl</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-3" for="diff_with_assembly">Assembly/Release:</label>
                                <div class="col-md-4">
                                    <select name="diff_with_assembly" class="form-control" id="id_diff_with_assembly"
                                            disabled="true">
                                        <option value="GRCh38" selected="">GRCh38</option>
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    {{ form.diff_with_release|add_class:"form-control"}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row col-md-2" style="padding-left:30px">
                    <button type="submit" class="btn btn-warning">Diff ReleaseSets</button>
                </div>

            </form>

        </div>

    </div>

{% endblock %}