{% extends "web_home.html" %}

{% block extra_scripts %}
 <script>
 jQuery(function($) {
    $("#id_search_assembly").change(function () {
        var assembly_releases = {{ all_assembly_releases|safe|escape }};
        var cur_assembly_name = $(this).val(); 

        var releases = assembly_releases[cur_assembly_name] || [];
        
        var options = $.map(releases, function(release){
            return '<option value="' + release + '">' + release + '</option>'
        }).join('');
        $("#id_search_release").html(options);
    });
    
  
  });
  </script>
{% endblock %}


{% load staticfiles %}
{% load add_class %}

{% block content %}

<div class="container" style="padding-top:20px;">

<div class="panel panel-info">
  <div class="panel-heading"><i class="glyphicon glyphicon-info-sign"></i> <strong>Tark Transcript Search</strong></div>
  <div class="panel-body">
  Search for Transcripts using any identifiers (eg:<strong> BRCA2, ENSG00000139618, ENST00000225573, NM_000059, LRG_293t1</strong>)<br/>
  For location search, please use the following format <strong>13: 32315474-32400260</strong><br/>
  </div>
</div>

<!--
<form class="form-horizontal" method="POST" action="">
{% csrf_token %}

 {% for error in form.non_field_errors %}
      <div class="form-group has-errors text-danger small">
        {{error}}
     </div>
 {% endfor %}




  <div class="form-group">
    <label class="control-label col-sm-2" for="search_identifier">Identifier:</label>
    <div class="col-sm-4 block">
    {{ form.search_identifier|add_class:"form-control"}}
    </div>
  </div>



  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-4">
      <button type="submit" class="btn btn-primary btn-block">Search</button>	
    </div>
  </div>

</form>
-->

<div class="row" id="search_big">
    <div class="col-md-12">
    <form action="/web/search/" method="POST">
    <div class="form-group" style="text-align: center;">
    {% csrf_token %}
      <input type="text" name="search_identifier" required="" id="id_search_identifier" placeholder="Search..eg: BRCA2, ENST00000470094, NM_000059" class="form-control input-lg" style="display:inline;width:60%;">
      <button type="submit"><i class="fa fa-search fa-2x"></i></button>
    </div>
    </form>
  </div>  
  </div>

</div>

{% endblock %}