{% extends "web_home.html" %}

{% block extra_scripts %}
 <script>
 jQuery(function($) {
    $("#id_diff_me_assembly").change(function () {
        var assembly_releases = {{ all_assembly_releases|safe|escape }};
        var cur_assembly_name = $(this).val(); 

        var releases = assembly_releases[cur_assembly_name] || [];
        
        var options = $.map(releases, function(release){
            return '<option value="' + release + '">' + release + '</option>'
        }).join('');
        $("#id_diff_me_release").html(options);
    });
    
    $("#id_diff_with_assembly").change(function () {
       var assembly_releases = {{ all_assembly_releases|safe|escape }};
        var cur_assembly_name = $(this).val(); 

        var releases = assembly_releases[cur_assembly_name] || [];
        var options = $.map(releases, function(release){
            return '<option value="' + release + '">' + release + '</option>'
        }).join('');
        $("#id_diff_with_release").html(options);
    });
  });
  </script>
{% endblock %}


{% load staticfiles %}
{% load add_class %}

{% block content %}

<div class="container" style="padding-top:20px;">

<div class="panel panel-info ">
  <div class="panel-heading"><i class="glyphicon glyphicon-info-sign"></i> <strong>Tark Transcript Diff</strong></div>
  <div class="panel-body">
  Use this tool to find differences between the releases for the given Transcript (eg: ENST00000380152)
  </div>
</div>

<div class="row">
	<form id="diff_form" class="form-horizontal" method="POST" action="">
	{% csrf_token %}
	{% for error in form.non_field_errors %}
      <div class="form-group has-errors text-danger small">
     {{error}}
     </div>
 	{% endfor %}

	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading"><strong>Diff Me</strong></div>
				<div class="panel-body">

  				<div class="form-group">
    			<label class="control-label col-md-3" for="species">Species:</label>
				    <div class="col-md-6">
				     {{ form.species|add_class:"form-control" }}
				    </div>
				  </div>
				
				<div class="form-group">
  				<label class="control-label col-md-3" for="source">Source:</label>
   					<div class="col-md-6">
    				{{ form.diff_me_source|add_class:"form-control"}}
  					</div>
  				</div>
  				
				  <div class="form-group">
				    <label class="control-label col-md-3" for="stable_id">StableID:</label>
				    <div class="col-md-6">
				    {{ form.diff_me_stable_id|add_class:"form-control"}}
				    </div>
				    
				  </div>
				
				
				  <div class="form-group">
				 
				  <label class="control-label col-md-3 for="diff_me_assembly">Assembly/Release:</label>
				   <div class="col-md-4">
				   {{ form.diff_me_assembly|add_class:"form-control"}}
				  </div>
				 
				   <div class="col-md-2">
				    {{ form.diff_me_release|add_class:"form-control"}}
				   </div>
				  </div>


				
				
				</div>
			</div>
	</div>
	
	<div class="col-md-6">
		<div class="panel panel-success">
			<div class="panel-heading"><strong>Diff With</strong></div>
				<div class="panel-body">
				
				<div class="form-group">
    			<label class="control-label col-md-3" for="species">Species:</label>
				    <div class="col-md-6">
				     {{ form.species|add_class:"form-control" }}
				    </div>
				  </div>
				
				<div class="form-group">
  				<label class="control-label col-md-3" for="source">Source:</label>
   					<div class="col-md-6">
    				{{ form.diff_with_source|add_class:"form-control"}}
  					</div>
  				</div>
  				
				  <div class="form-group">
				    <label class="control-label col-md-3" for="stable_id">StableID:</label>
				    <div class="col-md-6">
				    {{ form.diff_with_stable_id|add_class:"form-control"}}
				    </div>
				    
				    
				  </div>
				
				
				<div class="form-group">
				  <label class="control-label col-md-3" for="diff_with_assembly">Assembly/Release:</label>
				  <div class="col-md-4">
				   {{ form.diff_with_assembly|add_class:"form-control"}}
				  </div>
				  
				   <div class="col-md-2">
				    {{ form.diff_with_release|add_class:"form-control"}}
				   </div>
				  </div>
				
					
					
					
					
					
				</div>
			</div>
	</div>

<button type="submit" class="btn btn-info btn-block">Diff Transcripts</button>
</form>
</div>



</div>

{% endblock %}