{% extends "web_home.html" %}

{% block title %}Search Tark{% endblock %}

{% block extra_scripts %}
    <script>
        jQuery(function ($) {
            $("#id_search_assembly").change(function () {
                var assembly_releases = {{ all_assembly_releases|safe|escape }};
                var cur_assembly_name = $(this).val();

                var releases = assembly_releases[cur_assembly_name] || [];

                var options = $.map(releases, function (release) {
                    return '<option value="' + release + '">' + release + '</option>'
                }).join('');
                $("#id_search_release").html(options);
            });


        });
    </script>
{% endblock %}


{% load static %}
{% load add_class %}

{% block content %}

    <div class="container" style="padding-top:200px;">
        {% include "search_big_box.html" %}
    </div>


{% endblock %}