{% load add_class %}
{% load compare_features %}

<!-- Translation Expander -->
<div class="container">
<div id="has_cds_location_changed" class="collapse">

  {% if diff_result.results.has_cds_location_changed %}
  <div class="panel panel-danger">
  {% else %}
    <div class="panel panel-success">
  {% endif %}
  
    <div class="panel-heading"><i class="glyphicon glyphicon-collapse-down"></i> <strong>Translation Details</strong></div>
      <div class="panel-body">

<div class="row">
  
  <!--Translation1 -->
  <div class="col-md-5 col-sm-5">
  {% with diff_result.diff_me_transcript.results.0 as diff_me_tr %}
   {% with diff_me_tr.translations as diff_me_tr_translations %}
   {% for translation in diff_me_tr_translations %}
     <ul class="list-group">
  <li class="list-group-item">StableID 	<span class="label label-primary label-diff">{{ translation.stable_id }}</span></li>
  <li class="list-group-item">StableID Version <span class="label label-primary label-diff">{{ translation.stable_id_version }}</span></li>
  <li class="list-group-item">Assembly<span class="label label-primary label-diff">{{ translation.assembly }}</span></li>
  <li class="list-group-item">Region <span class="label label-primary label-diff">{{ translation.loc_region }}</span></li>
  <li class="list-group-item">Start <span class="label label-primary label-diff">{{ translation.loc_start }}</span></li> 
  <li class="list-group-item">Stop <span class="label label-primary label-diff">{{ translation.loc_end }}</span></li>
  <li class="list-group-item">Strand <span class="label label-primary label-diff">{{ translation.loc_strand }}</span></li> 
  <li class="list-group-item">Loc Checksum <span class="label label-primary label-diff">{{ translation.loc_checksum }}</span></li>
  <li class="list-group-item">Seq Checksum <span class="label label-primary label-diff">{{ translation.seq_checksum }}</span></li>  
  <li class="list-group-item">Transl Checksum <span class="label label-primary label-diff">{{ translation.translation_checksum }}</span></li> 
    </ul>
   {% endfor %}
  {% endwith %}
{% endwith %}
  </div>
<!--Translation1 End-->


<!-- Match -->
  <div class="col-md-2 col-sm-2">

{% with diff_result|compare_translation:"stable_id_version, assembly, loc_region, loc_start, loc_end, loc_strand, loc_checksum, seq_checksum, translation_checksum" as match_results %}
  {% for has_matches in match_results %}
    <ul class="list-group">
    <li class="list-group-item text-center">Match</li>
   {% for has_match in has_matches %}
    {% include "checksum_match.html" with has_var_checksum=has_match %}
   {% endfor %}
     </ul>
  {% endfor %}
{% endwith %}

  </div>
<!-- Match -->


 <!--Translation2 -->
  <div class="col-md-5 col-sm-5">
  {% with diff_result.diff_with_transcript.results.0 as diff_with_tr %}
   {% with diff_with_tr.translations as diff_with_tr_translations %}
   {% for translation in diff_with_tr_translations %}
     <ul class="list-group">
  <li class="list-group-item">StableID 	<span class="label label-primary label-diff">{{ translation.stable_id }}</span></li>
  <li class="list-group-item">StableID Version <span class="label label-primary label-diff">{{ translation.stable_id_version }}</span></li>
  <li class="list-group-item">Assembly<span class="label label-primary label-diff">{{ translation.assembly }}</span></li>
  <li class="list-group-item">Region <span class="label label-primary label-diff">{{ translation.loc_region }}</span></li>
  <li class="list-group-item">Start <span class="label label-primary label-diff">{{ translation.loc_start }}</span></li> 
  <li class="list-group-item">Stop <span class="label label-primary label-diff">{{ translation.loc_end }}</span></li>
  <li class="list-group-item">Strand <span class="label label-primary label-diff">{{ translation.loc_strand }}</span></li> 
  <li class="list-group-item">Loc Checksum <span class="label label-primary label-diff">{{ translation.loc_checksum }}</span></li>
  <li class="list-group-item">Seq Checksum <span class="label label-primary label-diff">{{ translation.seq_checksum }}</span></li>  
  <li class="list-group-item">Transl Checksum <span class="label label-primary label-diff">{{ translation.translation_checksum }}</span></li> 
    </ul>
   {% endfor %}
  {% endwith %}
{% endwith %}
  </div>
  <!--Translation2 End-->


   </div>

      </div>
    </div>

</div>
</div>