{% load staticfiles %}
{% load add_class %}
{% load compare_features %}
{% load sequence_format %}

<!-- Translation include -->

{% if diff_result.diff_me_transcript.translations %}
<table id="compare_result_translation" class="table table-bordered table-striped table-condensed">
{% with diff_result.diff_me_transcript as diff_me_tr %}
{% with diff_result.diff_with_transcript as diff_with_tr %}
{% with diff_result.diff_me_transcript.translations as diff_me_tl %}
{% with diff_result.diff_with_transcript.translations as diff_with_tl %}
{% with diff_result.results as diff_result %}

<tr style="background-color: #60a3bc;color:#ffffff">
     <th style="width:20%">Translation</th>
     <th style="width:35%">DIFF ME ({{ diff_result.diff_me_assembly.assembly_name}}/{{diff_result.diff_me_release}})</th>
     <th style="width:35%">DIFF WITH ({{ diff_result.diff_with_assembly.assembly_name}}/{{diff_result.diff_with_release}})</th>
    <th style="text-align:center;width:10%;">MATCH</th>
</tr>
<tr>
<td>StableID</td><td>{{ diff_me_tl.stable_id|default:"Non-coding" }} </td><td>{{ diff_with_tl.stable_id|default:"Non-coding" }}</td><td style="text-align:center"> {% include "match_include.html" with has_var_checksum=diff_result.has_translation_stable_id_changed %}</td>
</tr>
<tr>
<td>StableID Version</td><td>{{ diff_me_tl.stable_id_version|default:"Non-coding" }} </td><td>{{ diff_with_tl.stable_id_version|default:"Non-coding" }}</td><td style="text-align:center"> {% include "match_include.html" with has_var_checksum=diff_result.has_translation_stable_id_version_changed %}</td>
</tr>
<tr>
<td>CDS Location</td><td>{{diff_me_tl|get_location_string|default:"Non-coding"}}</td><td>{{diff_with_tl|get_location_string|default:"Non-coding"}}</td><td style="text-align:center"> {% include "match_include.html" with has_var_checksum=diff_result.has_translation_location_changed %}</td>
</tr>
<tr>
<td>CDS Length</td><td>{{diff_me_tl|get_sequence_length}}</td><td>{{diff_with_tl|get_sequence_length}}</td><td style="text-align:center"> {% include "match_include.html" with has_var_checksum=diff_result.has_translation_location_changed %}</td>
</tr>
{% if diff_me_tl.sequence %}
<tr>
<td>Protein Sequence {% include "align_button_include.html" with feature_type="translation" stable_id_a=diff_me_tl.stable_id stable_id_version_a=diff_me_tl.stable_id_version stable_id_b=diff_with_tl.stable_id stable_id_version_b=diff_with_tl.stable_id_version input_type="protein" outut_format="pair" %}</td><td>{{ diff_me_tl.sequence|truncatechars:15|default:"Non-coding" }} {% include "fasta_button_include.html" with feature_type="translation" stable_id=diff_me_tl.stable_id stable_id_version=diff_me_tl.stable_id_version %}</td>
<td>{{ diff_with_tl.sequence|truncatechars:15|default:"Non-coding" }} {% include "fasta_button_include.html" with feature_type="translation" stable_id=diff_with_tl.stable_id stable_id_version=diff_with_tl.stable_id_version %}</td>
<td style="text-align:center"> {% include "match_include.html" with has_var_checksum=diff_result.has_translation_seq_changed %}</td>
</tr>


{% endif %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
</table>
{% endif %}

