{% extends "base.html" %}

{% load staticfiles %}

{% block header %}

<nav class="navbar navbar-inverse"  style="background-color:#227093">
  <div class="container-fluid">
      
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand" id="logo" href="/"><span class="title"><img alt="ensembl" height="30" width="30" src="{% static '/images/ebang.png' %}" /> Transcript Archive <span class="beta_text"> Beta</span></span></a></li>
	    <!--Add later -->
     <!--<li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">FeatureSets
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href={% url 'datatable_view' "transcript" assembly_name release_name source_name assembly_name "89" "refseq" %}>Transcripts</a></li>
         </ul>
      </li>-->
       <li class="navbar-separator">|</li>
      <li class="navbar-item"><a href="/web/datatable/release_set/">ReleaseSet</a></li>
      <li class="navbar-separator">|</li>
       <li class="navbar-item"><a href="/web/statistics/">Statistics</a></li>
      <li class="navbar-separator">|</li>
     <li class="navbar-item"><a href="/web/diff/"> Diff-Transcript </a></li>
      <li class="navbar-separator">|</li>
      <!--
       <li class="navbar-item"><a href="/web/diff/release/"> Diff-ReleaseSets </a></li>
      <li class="navbar-separator">|</li>
      -->
     <li class="navbar-item"><a href="/web/search/"> Search </a></li>
     <li class="navbar-separator">|</li>
      <li class="navbar-item"><a href="/api/"> REST-Tark</a></li>
       <li class="navbar-separator">|</li>
      <li class="navbar-item"><a href="/documentation"><span class="glyphicon glyphicon-file"></span> Help</a></li>
      <li class="navbar-separator">|</li>
      <li class="navbar-item"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <li class="navbar-separator">|</li>
      <li class="navbar-item"><a href="https://www.ebi.ac.uk/data-protection/privacy-notice/transcript-archive-tark-" target="_blank"> Privacy Notice</a></li>
       <li class="navbar-separator">|</li>
    </ul>
    
     <div id="search">
    <form action="/web/search/" method="POST">
    <div class="form-group" style="text-align: right;">
    {% csrf_token %}
      <input type="text" name="search_identifier" required="" id="id_search_identifier" placeholder="Search.." class="form-control" style="display:inline;width:20%;">
      <button type="submit"><i class="fa fa-search"></i></button>
    </div>
    </form>
  </div>    
    
  </div>
</nav>

{% endblock %}



{% block content %}
<div class="container">
  <div class="jumbotron" style="background-color:#fff; !important;">
    <h2 class="text-center">Tark - Transcript Archive</h2> 
    <p class="text-justify" style="font-size: 1.8rem;font-weight:350;">The goal of Tark is to create an archive of all transcript sequences from Ensembl and other sources, including historical gene sets. To ensure robust tracking of exact changes between gene and transcript sets, checksums are included at a fine grained level. </p>
    
    <p class="text-justify" style="font-size: 1.8rem;font-weight:350;">The data is accessible via an API to explore and determine the exact changes between sequences from one release to the next. In the longterm, Tark will become the primary repository for all sequences in all Ensembl releases.</p>
    
    <p class="text-justify" style="font-size: 1.8rem;font-weight:350;">This beta is provided to give the community an opportunity to explore Tark's functionality. Please provide feedback on possible improvements to help meet future needs. Note, this is a beta site and should not be counted upon to be stable, the API may change and this server may be unavailable at times..</p> 
  </div>
  
  
  
   <div class="row" id="search_big">
    <div class="col-md-12">
    <form action="/web/search/" method="POST">
    <div class="form-group" style="text-align: center;">
    {% csrf_token %}
      <input type="text" name="search_identifier" required="" id="id_search_identifier" placeholder="Search..eg: BRCA2, ENST00000470094, NM_000059" class="form-control input-lg" style="display:inline;width:60%;">
      <button type="submit"><i class="fa fa-search fa-2x"></i></button>
    </div>
    </form>
  </div>  
  </div>  

<p style="padding-top:40px;"></p>

 <div class="row">
   <div class="col-md-4 col-sm-4">
     <a href="/web/datatable/release_set/"><button type="button" class="btn btn-default btn-circle btn-xl center-block"><i class="glyphicon glyphicon-list"></i></button></a>
     <h3 class="text-center">List ReleaseSets</h3>
     <p>View release sets available as datatable.</p>
  </div>

   <div class="col-md-4 col-sm-4">
    <a href="/web/diff/"><button type="button" class="btn btn-default btn-circle btn-xl center-block"><i class="glyphicon glyphicon-duplicate"></i></button></a>
 <h3 class="text-center">Diff Transcript</h3>
  <p>See the difference between the releases for a given transcript</p>
  </div>
  
  
   <div class="col-md-4 col-sm-4"> 
     <a href="/api/"><button type="button" class="btn btn-default btn-circle btn-xl center-block"><span style="font-size:0.7em;">{REST}</span></button></a>
 <h3 class="text-center">REST Tark</h3>
  <p">REST version of Tark with links to browsable API to work on filters and receive JSON response.</p>
    </div>
    
 </div>

{% endblock %}