{% extends "base.html" %}

{% load staticfiles %}

{% block header %}

<nav class="navbar navbar-inverse"  style="background-color:#227093">
  <div class="container-fluid">
      
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand" id="logo" href="/"><span class="title"><img alt="ensembl" height="30" width="30" src="{% static '/images/ebang.png' %}" /> Transcript Archive <span class="beta_text"> Beta</span></span></a></li>
	    <!--Add later -->
     <!--<li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">FeatureSets
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href={% url 'datatable_view' "transcript" assembly_name release_name source_name assembly_name "89" "refseq" %}>Transcripts</a></li>
         </ul>
      </li>-->
       <li class="navbar-separator">|</li>
      <li class="navbar-item"><a href="/web/datatable/release_set/">ReleaseSets</a></li>
      <li class="navbar-separator">|</li>
      <li class="navbar-item"><a href="/web/statistics/">ReleaseStats</a></li>
      <li class="navbar-separator">|</li>
      <li class="navbar-item"><a href="/web/manelist/">ManeList</a></li>

     <!-- <li class="navbar-separator">|</li>
     <li class="navbar-item"><a href="/web/diff/"> Compare-Transcripts </a></li> -->

      <li class="navbar-separator">|</li>
     <li class="navbar-item"><a href="/web/search/"> Search & Compare </a></li>
     <li class="navbar-separator">|</li>
      <li class="navbar-item"><a href="/api/"> REST-Tark</a></li>
       <li class="navbar-separator">|</li>
      <li class="navbar-item"><a href="/documentation"><span class="glyphicon glyphicon-file"></span> Help</a></li>
      <li class="navbar-separator">|</li>
      <li class="navbar-item"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <li class="navbar-separator">|</li>
      <li class="navbar-item"><a href="https://www.ebi.ac.uk/data-protection/privacy-notice/transcript-archive-tark-" target="_blank"> Privacy Notice</a></li>
       <li class="navbar-separator">|</li>
    </ul>
    
    {% include "search_box.html" %}
    
  </div>
</nav>

{% endblock %}



{% block content %}
<div class="container">
  {% include "jumbotron_include.html" %}
  
    {% include "search_big_box.html" %}

<p style="padding-top:40px;"></p>

 <div class="row">
   <div class="col-md-4 col-sm-4">
     <a href="/web/datatable/release_set/"><button type="button" class="btn btn-default btn-circle btn-xl center-block"><i class="glyphicon glyphicon-list"></i></button></a>
     <h3 class="text-center">Release Sets</h3>
     <p>View available Ensembl and RefSeq release sets</p>
  </div>

   <div class="col-md-4 col-sm-4">
    <a href="/web/statistics/"><button type="button" class="btn btn-default btn-circle btn-xl center-block"><i class="glyphicon glyphicon-stats"></i></button></a>
 <h3 class="text-center">Release Statistics</h3>
  <p>View some statistics about the data loaded</p>
  </div>
  
  
   <div class="col-md-4 col-sm-4"> 
     <a href="/api/"><button type="button" class="btn btn-default btn-circle btn-xl center-block"><span style="font-size:0.7em;">{REST}</span></button></a>
 <h3 class="text-center">REST Tark</h3>
  <p">REST version of Tark with links to browsable API to work on filters and receive JSON response.</p>
    </div>
    
 </div>

{% endblock %}