{% extends "base.html" %}

{% load staticfiles %}

{% block header %}

<nav class="navbar navbar-inverse"  style="background-color:#227093">
  <div class="container">
      
    <ul class="nav navbar-nav">
    
      <li><a class="navbar-brand" id="logo" href="/"><span class="title"><img alt="ensembl" height="30" width="30" src="{% static '/images/ebang.png' %}" /> Transcript Archive <span class="beta_text"> Beta</span></span></a></li>
      <li>&nbsp;</li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">FeatureSets
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href={% url 'datatable_view' "transcript" %}>Transcripts</a></li>
          <li><a href={% url 'datatable_view' "gene" %}>Genes</a></li>
          <!--
          <li><a href={% url 'datatable_view' "exon" %}>Exons</a></li>
          <li><a href={% url 'datatable_view' "translation" %}>Translations</a></li>
          -->
         </ul>
      </li>
     <li><a href="/web/diff/"> Diff-Transcript</a></li>
      <li></li>
     <li><a href="/web/search/"> Search-Transcript</a></li>
     <li></li>
      <li><a href="/api/"> REST-TArK</a></li>
       <li></li>
      <li><a href="/documentation"><span class="glyphicon glyphicon-file"></span> Help</a></li>
       <li></li>
      <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <li></li>
      <li><a href="https://www.ebi.ac.uk/data-protection/privacy-notice/transcript-archive-tark" target="_blank"> Privacy Notice</a></li>
     
   
    </ul>
  </div>
</nav>

{% endblock %}



{% block content %}
<div class="container">
  <div class="jumbotron" style="background-color:#fff !important;">
    <h2 class="text-center">TArK - Transcript Archive</h2> 
    <p class="text-justify" style="font-size: 1.8rem;">The goal of TArK is to create an archive of all transcript sequences from Ensembl and other sources, including historical gene sets. To ensure robust tracking of exact changes between gene and transcript sets, checksums are included at a fine grained level. </p>
    
    <p class="text-justify" style="font-size: 1.8rem;">The data is accessible via an API to explore and determine the exact changes between sequences from one release to the next. In the longterm, TArK will become the primary repository for all sequences in all Ensembl releases.</p>
    
    <p class="text-justify" style="font-size: 1.8rem;">This beta is provided to give the community an opportunity to explore TArK's functionality. Please provide feedback on possible improvements to help meet future needs. Note, this is a beta site and should not be counted upon to be stable, the API may change and this server may be unavailable at times..</p> 
  </div>

 <div class="row">
   <div class="col-md-3 col-sm-3">
     <a href="/web/datatable/transcript/"><button type="button" class="btn btn-default btn-circle btn-xl center-block"><i class="glyphicon glyphicon-list"></i></button></a>
     <h3 class="text-center">List Features</h3>
     <p>View genes, transcripts, exons, translations and others as datatables.</p>
  </div>

   <div class="col-md-3 col-sm-3">
    <a href="/web/diff/"><button type="button" class="btn btn-default btn-circle btn-xl center-block"><i class="glyphicon glyphicon-duplicate"></i></button></a>
 <h3 class="text-center">Diff Transcript</h3>
  <p>See the difference between the releases for a given transcript</p>
  </div>
  
   <div class="col-md-3 col-sm-3">
    <a href="/web/search/"><button type="button" class="btn btn-default btn-circle btn-xl center-block"><i class="glyphicon glyphicon-search"></i></button></a>
 <h3 class="text-center">Search Transcript</h3>
  <p>Search for transcripts using various identifiers</p>
  </div>

   <div class="col-md-3 col-sm-3"> 
     <a href="/api/"><button type="button" class="btn btn-default btn-circle btn-xl center-block"><span style="font-size:0.7em;">{REST}</span></button></a>
 <h3 class="text-center">REST TaRK</h3>
  <p">REST version of TaRK with links to browsable API to work on filters and receive JSON response.</p>
    </div>
    
 </div>

{% endblock %}