<h4 id="tark_services">What services are provided by Tark?</h4>
<p>Tark provides the following main services via REST Tark and Web Tark:</p>
<div class="collapsible">- search for existing transcripts and related entities</div>
<div class="content">
    <ol>
        <li style="font-size:13px">Go to <a href="https://tark.ensembl.org/">Tark Home</a></li>
        <li style="font-size:13px">In the Search field, enter a transcript (<i>eg: NM_013236</i>)
            and click <i>Enter</i>.
        </li>
        <li style="font-size:13px">The results page displays available versions of the selected
            transcript.
        </li>
        <li style="font-size:13px">In the <i>Transcript StableID</i> column, click on the version of
            your choice to view details of the transcript.
        </li>
    </ol>
</div>
<div class="collapsible">- explore and determine the exact differences between transcripts from one
    release to the next
</div>
<div class="content">
    <ol>
        <li style="font-size:13px">Go to <a href="https://tark.ensembl.org/">Tark Home</a></li>
        <li style="font-size:13px">In Search field, enter a transcript (<i>eg: NM_013236</i>) and
            click <i>Enter</i>.
        </li>
        <li style="font-size:13px">The results page displays available versions of the transcript
            (<i>eg: 3 versions of NM_013236</i>).
        </li>
        <li style="font-size:13px">To compare any two versions of the transcript, say between
            <i>NM_013236.4 and NM_013236.3</i>:
        </li>
        <ol type="i">
            <li style="font-size:13px">Click on <i>T1</i> column against Transcript StableID
                <i>NM_013236.3</i> (release: <i>r106_20140203-Feb2014</i>).
            </li>
            <li style="font-size:13px">Click on <i>T2</i> column against Transcript StableID
                <i>NM_013236.4</i> (release: <i>r109_20190607-Jun2019</i>).
            </li>
            <li style="font-size:13px">Click <i>Compare Transcripts</i></li>
        </ol>
    </ol>
</div>
<hr/>