<h4 id="ar_attribute">What attributes are captured for a given Transcript?</h4>

<table class="table table-striped" style="font-size:14px">

    <thead>
    <tr>
        <th><strong>Attribute</strong></th>
        <th><strong>Type</strong></th>
        <th><strong>Mandatory</strong></th>
        <th><strong>Description</strong></th>
        <th><strong>Example</strong></th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>StableID</td>
        <td>String</td>
        <td>YES</td>
        <td>stable id of the transcript</td>
        <td>ENST00000387314</td>
    </tr>

    <tr>
        <td>StableID Version</td>
        <td>Integer</td>
        <td>YES</td>
        <td>stable id version</td>
        <td>2</td>
    </tr>

    <tr>
        <td>Assembly</td>
        <td>String</td>
        <td>YES</td>
        <td>assembly name</td>
        <td>GRCh38</td>
    </tr>

    <tr>
        <td>Start</td>
        <td>Integer</td>
        <td>YES</td>
        <td>location start</td>
        <td>86107319</td>
    </tr>

    <tr>
        <td>End</td>
        <td>Integer</td>
        <td>YES</td>
        <td>location end</td>
        <td>86594074</td>
    </tr>

    <tr>
        <td>Strand</td>
        <td>Integer</td>
        <td>YES</td>
        <td>location strand</td>
        <td>-1</td>
    </tr>

    <tr>
        <td>Region</td>
        <td>String</td>
        <td>YES</td>
        <td>chromosomal region</td>
        <td>4</td>
    </tr>

    <tr>
        <td>Location checksum</td>
        <td>String</td>
        <td>YES</td>
        <td>location checksum</td>
        <td>A7B8DE6BC582980F1A0B580706E50560A25D3654</td>
    </tr>

    <tr>
        <td>Exonset checksum</td>
        <td>String</td>
        <td>YES</td>
        <td>exonset checksum</td>
        <td>0DE665BF4AC8C50A6A4CD66185446F3034CDC504</td>
    </tr>

    <tr>
        <td>Transcript checksum</td>
        <td>String</td>
        <td>YES</td>
        <td>transcript checksum</td>
        <td>183642CE18A48D2929FA2F999AC209F740D7341D</td>
    </tr>

    <tr>
        <td>Sequence checksum</td>
        <td>String</td>
        <td>YES</td>
        <td>sequence checksum</td>
        <td>C261E62157042BD94AD8E3975F55D5F29BBFF2C8</td>
    </tr>

    </tbody>
</table>
<hr/>