{% load staticfiles %}
<head>
    <link href='{% static "/css/docs_style.css" %}' rel='stylesheet' type='text/css'/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js" integrity="sha256-/2C3CAfmuTGkUqK2mVrhkTacBscoR1caE0u2QZZ3Uh8=" crossorigin="anonymous"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>

<h4 id="tark_crud">How to do GET operations via REST API?</h4>
<p>Please visit <a href="http://tark.ensembl.org/api/">REST API Endpoints</a>. Description and
    examples of each request are given below.</p>

<!-- ASSEMBLY -->
{% include "docs_faqs/faq7_examples/assembly.html" %}

<!-- EXON -->
{% include "docs_faqs/faq7_examples/exon.html" %}

<!-- GENE -->
{% include "docs_faqs/faq7_examples/gene.html" %}

<!-- RELEASE -->
{% include "docs_faqs/faq7_examples/release.html" %}

<!-- TRANSCRIPT -->
{% include "docs_faqs/faq7_examples/transcript.html" %}

<!-- TRANSLATION -->
{% include "docs_faqs/faq7_examples/translation.html" %}

<hr/>