<div>
    <div id="main-content-area">
    </div>
    <style>
        .notifications-js {
            width: 100%;
        }
        .callout {
            padding: 20px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-left-width: 5px;
        }
        .callout.warning {
            border-left-color: #f0ad4e;
            background-color: #fcf8e3;
        }
    </style>

    <script type="text/javascript">
        function ebiInjectAnnouncements(message) {
            if (typeof message == 'undefined') {
                return false;
            }

            if (typeof message.processed != 'undefined') {
                return true;
            } else {
                message.processed = true;
            }

            var container = document.getElementById('main-content-area') || document.getElementById('main-content') || document.getElementById('main') || document.getElementById('content') || document.getElementById('contentsarea');
            if (container == null) {
                console.warn('A message needs to be shown on this site, but an appropriate container could not be found. \n Message follows:', '\n' + message.headline, '\n' + message.message, '\n' + 'Priority:', message.priority);
                return false;
            }
            var banner = document.createElement('div');
            var wrapper = document.createElement('div');
            banner.className = "notifications-js row margin-top-medium";
            wrapper.className = "callout " + (message.priority || "");
            wrapper.innerHTML = "<h3>" + message.headline + "</h3>" + message.message;
            container.insertBefore(banner, container.firstChild);
            banner.appendChild(wrapper);
        }

        document.addEventListener("DOMContentLoaded", function (event) {
            ebiInjectAnnouncements({
                headline: 'EMBL-EBI User Survey 2024',
                message: 'Do data resources managed by EMBL-EBI and our collaborators make a difference to your work? ' +
                    '<br> Please take 10 minutes to <a href="https://www.surveymonkey.com/r/HJKYKTT?channel=[webpage]">fill in our annual user survey</a>, and help us make the case for why sustaining open data resources is critical for life sciences research.',
                priority: 'warning'
            });
        });
    </script>
</div>
