{% load staticfiles %}
{% load add_class %}

 <div class="jumbotron" style="background-color:#fff !important;">
    <h2 class="text-center">Tark - Transcript Archive</h2> 
    <p class="text-justify" style="font-size: 1.8rem;font-weight:350;">The goal of Tark is to create an archive of all transcript sequences from Ensembl, RefSeq and other sources, including historical gene sets. To ensure robust tracking of exact changes between gene and transcript sets, <a href="/documentation/#tark_checksum" target="_blank">checksums</a> are included at a fine grained level. </p>
    
    <p class="text-justify" style="font-size: 1.8rem;font-weight:350;">The data is accessible via an API to explore and determine the exact changes between sequences and other feature attributes from one release to the other or between two different sources. In the longterm, Tark will become the primary repository for all sequences in all Ensembl releases.</p>
    
    <p class="text-justify" style="font-size: 1.8rem;font-weight:350;">This beta is provided to give the community an opportunity to explore Tark's functionality. Please provide <a href="mailto:beth@ebi.ac.uk">feedback</a> on possible improvements to help meet future needs. Note, this is a beta site and should not be counted upon to be stable, the API may change and this server may be unavailable at times.</p> 
  </div>
